.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 300px;
}

.card img {
    max-width: 100%;
    height: 300px;
    cursor: pointer;
}

.likes {
    color: palevioletred; 
}

.kidName {
    color: purple; 
}
